[submodule "processing/roles/mediapeers.rabbitmq"]
	path = processing/roles/mediapeers.rabbitmq
	url = https://github.com/mediapeers/ansible-role-rabbitmq.git
[submodule "processing/roles/geerlingguy.rabbitmq"]
	path = processing/roles/geerlingguy.rabbitmq
	url = https://github.com/geerlingguy/ansible-role-postgresql.git
[submodule "gateway/roles/geerlingguy.postgresql"]
	path = gateway/roles/geerlingguy.postgresql
	url = https://github.com/geerlingguy/ansible-role-postgresql.git
[submodule "gateway/roles/geerlingguy.nginx"]
	path = gateway/roles/geerlingguy.nginx
	url = https://github.com/geerlingguy/ansible-role-nginx.git
[submodule "gateway/roles/verosk.uwsgi-app"]
	path = gateway/roles/verosk.uwsgi-app
	url = https://github.com/VerosK/ansible-uwsgi-app.git
[submodule "processing/roles/jasonroyle.rabbitmq"]
	path = processing/roles/jasonroyle.rabbitmq
	url = https://github.com/jasonroyle/ansible-role-rabbitmq.git
[submodule "poster"]
	path = poster
	url = https://github.com/gis4dis/poster.git
	#url = git@github.com:gis4dis/poster.git
