all:

  # Remaining role independent servers
  # hosts:

    # Database server - postgis not ansibled ATM
    # test.db.server.example:
    #   ansible_host: <IP>
    #   ansible_port: 22
    #   ansible_user: root
    #   ansible_ssh_private_key_file: ~/.ssh/id_rsa

  # Specific servers
  children:

    dokku:
      hosts:
        <FQDN.DOKKU.HOST>:
          ansible_host: <IP>
          ansible_port: 22
          ansible_user: root
          ansible_ssh_private_key_file: ~/.ssh/id_rsa

    minio:
      hosts:
        <FQDN.DOKKU.HOST>:
          ansible_host: <IP>
          ansible_port: 22
          ansible_user: root
          ansible_ssh_private_key_file: ~/.ssh/id_rsa

    backup:
      hosts:
        <FQDN.DOKKU.HOST>:
          ansible_host: <IP>
          ansible_port: 22
          ansible_user: root
          ansible_ssh_private_key_file: ~/.ssh/id_rsa

    monitoring:
      hosts:
        <FQDN.DOKKU.HOST>:
          ansible_host: <IP>
          ansible_port: 22
          ansible_user: root
          ansible_ssh_private_key_file: ~/.ssh/id_rsa
